.menu {
    position: absolute;
    top: 20px;
    right: 3%;
    font-weight: bold;
    display: flex;
}

.menu a {
    text-decoration: none;
    
}

.social {
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.menu-item{
    background-color: white;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
}